Repository hajpack/hajpack, pull requests merged in 2024-03, with the labels that each got.

#2 add no chat reports
  index.toml
  mods/no-chat-reports.pw.toml
  pack.toml
Labels: type: mod

#3 add cc:tweaked
  index.toml
  mods/cc-tweaked.pw.toml
  pack.toml
Labels: type: mod, priority: high

#4 add server script, improve CONTRIBUTING.md and README.md
  .packwizignore
  CONTRIBUTING.md
  README.md
  pack.toml
  scripts/hajpackserver.sh
Labels: type: documentation, type: enhancement, priority: medium

#6 Add REI and dependencies
  index.toml
  mods/architectury-api.pw.toml
  mods/cloth-config.pw.toml
  mods/rei.pw.toml
  pack.toml
Labels: type: mod, priority: medium

#8 update dev branch
  index.toml
  mods/architectury-api.pw.toml
  mods/cloth-config.pw.toml
  mods/rei.pw.toml
  pack.toml
Labels: priority: low

#10 how tf do you live without sodium extra
  index.toml
  mods/reeses-sodium-options.pw.toml
  mods/sodium-extra.pw.toml
  pack.toml
Labels: type: mod, priority: low

#14 Update hajpackserver.sh
  scripts/hajpackserver.sh
Labels: type: enhancement, priority: low

#15 add resource pack
  config/yosbr/options.txt
  index.toml
  pack.toml
  resourcepacks/hajpack/assets/minecraft/texts/splashes.txt
  resourcepacks/hajpack/assets/minecraft/textures/gui/title/background/panorama_0.png
  resourcepacks/hajpack/assets/minecraft/textures/gui/title/background/panorama_1.png
  resourcepacks/hajpack/assets/minecraft/textures/gui/title/background/panorama_2.png
  resourcepacks/hajpack/assets/minecraft/textures/gui/title/background/panorama_3.png
  resourcepacks/hajpack/assets/minecraft/textures/gui/title/background/panorama_4.png
  resourcepacks/hajpack/assets/minecraft/textures/gui/title/background/panorama_5.png
  resourcepacks/hajpack/pack.mcmeta
Labels: type: enhancement, priority: low

#17 replace REI with EMI and some extra addons
  index.toml
  mods/emi-enchanting.pw.toml
  mods/emi-loot.pw.toml
  mods/emi.pw.toml
  mods/emitrades.pw.toml
  mods/rei.pw.toml
  pack.toml
Labels: type: mod, priority: medium

#20 Utilities pull request
  index.toml
  mods/argonauts.pw.toml
  mods/cadmus.pw.toml
  mods/controlling.pw.toml
  mods/heracles.pw.toml
  mods/jade-addons-fabric.pw.toml
  mods/jade.pw.toml
  mods/lootr.pw.toml
  mods/mouse-wheelie.pw.toml
  mods/prometheus.pw.toml
  mods/resourceful-lib.pw.toml
  mods/searchables.pw.toml
Labels: type: mod, priority: high

#16 Add Plethora Peripherals and it's dependency, Trinkets
  index.toml
  mods/ducky-periphs.pw.toml
  mods/plethora-peripherals.pw.toml
  mods/trinkets.pw.toml
  pack.toml
Labels: type: mod, priority: low

#22 update contributors table
  README.md
Labels: type: documentation, priority: low

#18 add pack.png
  index.toml
  resourcepacks/hajpack/pack.png
Labels: type: enhancement, priority: low

#26 add Disable Custom Worlds Advice
  index.toml
  mods/dcwa.pw.toml
Labels: type: mod, priority: high

#25 fix contributors getting squished in readme (probably)
  README.md
Labels: type: enhancement, priority: low

#28 add Indium
  index.toml
  mods/indium.pw.toml
Labels: type: mod
